<mat-toolbar>
        <mat-toolbar-row class="toolbar-spacer">
            <div>
                <button mat-button [routerLink]="''"><h1>Fantaski</h1></button>
                <button mat-button [routerLink]="'/how-to-play'">How to Play</button>
                <button mat-button>Leaderboard</button>
            </div>
            <app-searchbar></app-searchbar>
            <app-userprofile></app-userprofile>
        </mat-toolbar-row>
</mat-toolbar>
<div class="page-content">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>