<div class="login-form-flex">
    <mat-card>
        <mat-card-header>Fantaski</mat-card-header>
        <mat-divider></mat-divider>
        <div class="auth-list">
            <cool-google-button class="authButton"color="dark" (click)="googleLogin()">
                Login with Google
            </cool-google-button>
            <mat-error *ngIf="isAuthError">A problem ocurred wih the auth serice.</mat-error>
        </div>
        <mat-divider>OR</mat-divider>
        <mat-card-content>
            <form #login="ngForm">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Email</mat-label>
                    <input required matInput name="email" ngModel>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Password</mat-label>
                    <input matInput required [type]="hide ? 'password' : 'text'" name="password" ngModel>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <br>
                <mat-error *ngIf="isError">Email or password is wrong.</mat-error>
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit(login)">Login</button>
                <br>
                <br>
                <a [routerLink]="'/forgot-password'">I forgot my password</a>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="'/signup'">No Account? Sign Up</a>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>